[submodule "PQClean"]
	path = PQClean
	url = https://github.com/PQClean/PQClean.git
[submodule "iwyu"]
	path = iwyu
	url = https://github.com/include-what-you-use/include-what-you-use.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "blake3"]
	path = blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "poly1305"]
	path = poly1305
	url = https://github.com/floodyberry/poly1305-donna.git
