nodekeys/*
!nodekeys/.gitkeep
database/*
!database/.gitkeep
iwyu/*
!iwyu/.gitkeep
obj/
logs/
test/
orisium
orisium.core
commit.sh
iwyu_applied_c.log
iwyu_failed_c.log
iwyu_applied_h.log
iwyu_failed_h.log
gcc
python
clang
clang++
.cache/
.lua.
compile_commands.json

